{% extends 'base.html' %}
{% block title %}
    Edit {{ post }}
{% endblock %}
{% block nav %}
    {% include 'nav/link_home.html' %}
    {% include 'nav/link_communities.html' %}
    {% include 'nav/link_community.html' %}
{% endblock %}
{% block logout %}{% include 'registration/logout.html' %}{% endblock %}
{% block content %}
    <div class="row pb-3">
        <h2>Edit post "{{ post }}"</h2>
    </div>

    <div class="row float-right pb-3">
            <form class="form" method="POST" action="{% url 'post_edit' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit"/>
            <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
        </form>
    </div>
{% endblock %}