<!-- Template to create a new post -->
{% extends 'base.html' %}
{% block title %}
    Create new post
{% endblock %}
{% block nav %}
    {% include 'nav/link_home.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}
{% block logout %}{% include 'registration/logout.html' %}{% endblock %}
{% block top %}Create new post{% endblock %}
{% block content %}
    <div class="row justify-content-center pb-3">
        <form class="form-floating" method="POST" action="{% url 'post_creation' %}">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Submit"/>
                <button onclick="window.history.back();" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}