<!-- Template to edit existing posts -->
{% extends 'base.html' %}
{% block title %}
    Edit {{ post }}
{% endblock %}
{% block nav %}
    {% include 'nav/link_home.html' %}
    {% include 'nav/link_communities.html' %}
    {% include 'nav/link_community.html' %}
{% endblock %}
{% block logout %}{% include 'registration/logout.html' %}{% endblock %}
{% block top %}Edit post "{{ post }}"{% endblock %}
{% block content %}
    <div class="row justify-content-center pb-3">
        <form method="POST" action="{% url 'post_edit' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Submit">
            <button onclick="window.history.back();" class="btn btn-danger" type="button">Cancel</button>
        </form>
    </div>
{% endblock %}