{% extends 'base.html' %}

{% block title %}Communities{% endblock %}

{% block top %}Communities{% endblock %}

{% block logout %}{% include 'registration/logout.html' %}{% endblock %}

{% block content %}
    <a href="{% url 'home' %} ">Home</a>
    {% for community in communities %}
        <p><a href="{% url 'community' community.id %} ">{{ community }}</a> :
            {% if user in community.followers.all %}
                <a href="{% url 'subscribe' community.id %} ">Follow</a>
            {%  else %}
                <a href="{% url 'subscribe' community.id %} ">Unfollow</a>
            {% endif %}
        </p>

    {% endfor %}
{% endblock %}