{% extends 'base.html' %}

{% block title %}{{ community }}{% endblock %}

{% block top %}{{ community }}{% endblock %}

{% block nav %}
    {% include 'registration/logout.html' %}
    {% include 'nav/link_home.html' %}
    {%  include 'nav/link_communities.html' %}
{% endblock %}

{% block content %}
    <a href="{% url 'post_creation' %}"><p>new post</p></a>
    {% for post in posts %}
        <p><a href="{% url 'post' post.id %}">{{ post }}</a>  <a href="{% url 'post_edit' post.id %}">  edit</a></p>
    {% endfor %}

    {% include 'communitymanager/../utility/follow.html' %}
{% endblock %}

