{% extends 'base.html' %}

{% block title %}{{ post }}{% endblock %}

{% block top %}{{ post }}{% endblock %}

{% block nav %}

    {% include 'nav/link_home.html' %}
    {%  include 'nav/link_communities.html' %}
    {%  include 'nav/link_community.html' %}
    {% include 'registration/logout.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <p>{{ post.content }}</p>
    </div>

    <p>By {{ post.author }}, {{ post.date_creation }}</p>
    <a href="{% url 'post_edit' post.id %}">  edit</a></p>


    <h4> Comments </h4>
        {% include 'utility/comments.html' %}
    <h4> Leave your comment </h4>
    {% include '../utility/writecomment.html' %}

{% endblock %}